{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container">
  <h1 class="page-heading">О проекте</h1>

  <p>
    Nam voluptatem totam reiciendis reprehenderit non facere nesciunt, vero
    unde accusamus voluptatibus possimus mollitia, aut eum sunt hic incidunt
    dolorem, quos incidunt perspiciatis.
  </p>

  <p>
    Modi atque doloribus eligendi eos consectetur, sapiente eveniet minima eum
    asperiores libero id voluptate earum non consequuntur, nobis numquam quo
    nam optio asperiores animi nostrum repudiandae corrupti voluptatibus eum,
    distinctio tempore facilis alias assumenda autem, qui eos sunt?
    Perferendis nobis itaque architecto rem illo harum placeat veniam labore,
    est iste sapiente impedit earum sit quaerat perspiciatis laudantium
    aliquid vel ducimus, reiciendis nesciunt voluptatum delectus, facere
    assumenda sint veniam a incidunt ipsum officia? Ipsam odit eligendi
    commodi consectetur ipsa repudiandae voluptatibus cumque, nulla esse cum
    ad eaque veritatis aliquid, veritatis incidunt praesentium obcaecati
    necessitatibus libero eius vitae eligendi? Laudantium eveniet facilis
    expedita quibusdam sit nostrum ex hic alias dolore, deserunt nam commodi
    libero accusamus exercitationem consequuntur sequi perspiciatis quas nisi,
    perferendis odio voluptatibus ipsum eos vel magnam quisquam voluptatum
    corrupti quod repellat, nisi explicabo labore id suscipit architecto
    maxime nostrum?
  </p>

  <p>
    Itaque quos error rem, sint quia quod cum possimus nulla culpa officiis
    libero natus nemo, quidem ut rem suscipit voluptatum minima amet
    reprehenderit iste tempore?
  </p>

  <p>
    Mollitia dignissimos laborum quod ex explicabo? Soluta labore consectetur
    ullam, placeat corrupti necessitatibus unde laboriosam iure atque, impedit
    eius sunt libero quam repudiandae iure, eaque excepturi quam ipsa non
    ipsam, et sit vitae animi molestias nisi distinctio labore minima
    perspiciatis odio.
  </p>

  <p>
    Maxime quis saepe repudiandae culpa nulla, ex repudiandae ab libero
    deleniti sed autem dolores fugit reiciendis?
  </p>

</main>
{% endblock content %}
